body{
    margin: 0px;
    padding: 0px;
    background-color: aquamarine;
    /* background-image: url("img/BGIMAGE.jpg");
    background-size: cover; */
   
}
.cart{
    margin: auto;
    width: 600px;
    background-color: #fff;
    padding: 50px;
    margin-top: 100px;
    border-radius: 20px;

}
#mainCart{
   
    text-align: center; 
}

.formDivLeft{
 
    width: 50%;
    
}
.formDivRight{
    width: 50%;
}
.formDiv{
    display:flex;
    justify-content:center;

}
.divLabel {
    width: 45%;
    

}
.divLabel label{
    text-transform: capitalize;
    margin-right: 0px;
    width: 100%;
}
.divInput {
   
    width: 55%;
}
.divInput input{

    width: 100%;
}

.inputLabel{

    display: flex;
    padding: 10px;
    text-align: left;
    
}

.buttonGroup{
    padding: 20px 0px;
}

.button1{
    margin: 2px;
    padding: 10px;
    border-radius: 4px;
    color:#fff;
    background-image: linear-gradient(to right, red , rgb(172, 11, 11));

    border: none;
}
.button2{
    margin: 2px;
    padding: 10px;
    border-radius: 4px;
    color:#fff;
    background-image: linear-gradient(to right, blue ,rgb(8, 8, 148));

    border: none;
}